stages:
  - build
  - test
  - docker
  - deploy


include:
  ## build ##
  - project: devops/ship 
    file: /templates/build/.job-build-dotnet-core-sdk5.yml
  ## test ##
  - project: devops/ship 
    file: /templates/test/unit/.job-test-unit-dotnet-core-sdk5.yml
  ## exceptions ##
  - project: devops/ship
    file: /templates/exceptions/.retry-on-system-failures.yml    

.docker:
  extends: .retry-on-system-failures
  stage: docker
  image: docker:stable
  variables:
    BUILD_ARGS: ""
    DOCKERFILE_PATH: "./Dockerfile"
    DOCKER_API_VERSION: "1.39"
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://localhost:2375
  services:
    - docker:stable-dind
  script:
    - docker build $BUILD_ARGS --file $DOCKERFILE_PATH --tag ${CI_REGISTRY_IMAGE}:$TAG .
    - echo ${CI_REGISTRY_PASSWORD} | docker login ${CI_REGISTRY} --username ${CI_REGISTRY_USER} --password-stdin
    - docker push ${CI_REGISTRY_IMAGE}:$TAG

docker:develop:gitlab-registry:
  extends: .docker
  variables:
    TAG: develop_${CI_PIPELINE_ID}
  only:
    - develop

docker:release:gitlab-registry:
  extends: .docker
  variables:
    TAG: release_${CI_PIPELINE_ID}
  only:
    - /^release\/[0-9.]+$/
    
docker:master:gitlab-registry:
  extends: .docker
  variables:
    TAG: latest
  only:
    - master

docker:tags:gitlab-registry:
  extends: .docker
  variables:
    TAG: ${CI_COMMIT_TAG}
  only:
    - tags

.deploy:
  stage: deploy
  image: registry.solutis.digital/devops/build-docker-templates/google-cloud-sdk-envsubst:1.1.0
  script:
    - echo $SERVICE_ACCOUNT_KEY >> key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project $PROJECT
    - gcloud config set compute/zone $ZONE
    - gcloud container clusters get-credentials $CLUSTER --zone $ZONE
    - for YAML in $(ls $CONFIG_DIR);do cat $CONFIG_DIR/$YAML | envsubst; cat $CONFIG_DIR/$YAML | envsubst | kubectl apply -n ${ENVIRONMENT} -f -;done

deploy:develop:
  extends: .deploy
  variables:   
    ENVIRONMENT: dev 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:develop_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - develop  

deploy:release:
  extends: .deploy
  variables:    
    ENVIRONMENT: test 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:release_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - /^release\/[0-9.]+$/

deploy:tags:
  extends: .deploy
  variables:    
    ENVIRONMENT: test
    IMAGE_TAG:  ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    CONFIG_DIR: config
  only:
    - tags

deploy:master:
  extends: .deploy
  variables:    
    ENVIRONMENT: test 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:master_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - master