stages:
  - build
  - test
  - quality
  - docker
  - deploy


include:
  ## build ##
  - project: devops/ship 
    file: /templates/build/.job-build-dotnet-core-sdk5.yml
  ## test ##
  - project: devops/ship 
    file: /templates/test/unit/.job-test-unit-dotnet-core-sdk5.yml
  ## exceptions ##
  - project: devops/ship
    file: /templates/exceptions/.retry-on-system-failures.yml

quality:
  extends: .retry-on-system-failures
  stage: quality
  image: nosinovacao/dotnet-sonar:21.01.1
  variables:
    SONAR_HOST: https://sonar.solutis.digital
    TEST_COVERAGE_FILE: coverage.opencover.xml
    BUILD_CONFIG: '-c Debug' 
  before_script:
    ### ver snippet https://gitlab.solutis.digital/snippets/24 ###
    - export SONAR_PROJECT_KEY="$(echo $APP_GROUP-$APP_SUBGROUP-$APP_NAME-$(echo ${CI_COMMIT_REF_NAME} | cut -d'/' -f 1))"
    - export SONAR_PROJECT_NAME=$(echo "$APP_GROUP $APP_SUBGROUP $APP_NAME [$CI_COMMIT_REF_NAME]")
    - echo ${SONAR_PROJECT_KEY}
    - echo ${SONAR_PROJECT_NAME}    
    - export NUGET_PACKAGES=$(pwd)/packages/
    - dotnet restore $PROJECT_BASE
  script: 
    - dotnet /sonar-scanner/SonarScanner.MSBuild.dll begin 
        /k:$SONAR_PROJECT_KEY
        /n:"$SONAR_PROJECT_NAME"
        /v:${CI_COMMIT_REF_NAME}
        /d:sonar.host.url=${SONAR_HOST}
        /d:sonar.login=${SONAR_TOKEN}
        /d:sonar.coverage.exclusions="**Test*.cs"
        /d:sonar.cs.opencover.reportsPaths="$PROJECT_BASE/$TEST_COVERAGE_FILE"
        /d:sonar.projectBaseDir="$(pwd)/$PROJECT_BASE"
    - dotnet build $PROJECT_BASE $BUILD_CONFIG
    - dotnet /sonar-scanner/SonarScanner.MSBuild.dll end /d:sonar.login=$SONAR_TOKEN
  cache: 
    paths:
      - packages
  only:
    - develop
    - /^release\/[0-9.]+$/
    - master
    - tags


.docker:
  extends: .retry-on-system-failures
  stage: docker
  image: docker:stable
  variables:
    BUILD_ARGS: ""
    DOCKERFILE_PATH: "./Dockerfile"
    DOCKER_API_VERSION: "1.39"
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://localhost:2375
  services:
    - docker:stable-dind
  script:
    - docker build $BUILD_ARGS --file $DOCKERFILE_PATH --tag ${CI_REGISTRY_IMAGE}:$TAG --tag ${CI_REGISTRY_IMAGE}:$TAG_NAME .
    - echo ${CI_REGISTRY_PASSWORD} | docker login ${CI_REGISTRY} --username ${CI_REGISTRY_USER} --password-stdin
    - docker push ${CI_REGISTRY_IMAGE}:$TAG
    - docker push ${CI_REGISTRY_IMAGE}:$TAG_NAME

docker:develop:gitlab-registry:
  extends: .docker
  variables:
    TAG: develop_${CI_PIPELINE_ID}
    TAG_NAME: develop
  only:
    - develop

docker:release:gitlab-registry:
  extends: .docker
  variables:
    TAG: release_${CI_PIPELINE_ID}
    TAG_NAME: release
  only:
    - /^release\/[0-9.]+$/
    
docker:master:gitlab-registry:
  extends: .docker
  variables:
    TAG: latest
    TAG_NAME: master
  only:
    - master

docker:tags:gitlab-registry:
  extends: .docker
  variables:
    TAG: ${CI_COMMIT_TAG}
    TAG_NAME: tag
  only:
    - tags

.deploy:
  stage: deploy
  image: registry.solutis.digital/devops/build-docker-templates/google-cloud-sdk-envsubst:1.1.0
  script:
    - echo $SERVICE_ACCOUNT_KEY >> key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project $PROJECT
    - gcloud config set compute/zone $ZONE
    - gcloud container clusters get-credentials $CLUSTER --zone $ZONE
    - for YAML in $(ls $CONFIG_DIR);do cat $CONFIG_DIR/$YAML | envsubst; cat $CONFIG_DIR/$YAML | envsubst | kubectl apply -n ${ENVIRONMENT} -f -;done

deploy:develop:
  extends: .deploy
  variables:   
    ENVIRONMENT: dev 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:develop_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - develop  

deploy:release:
  extends: .deploy
  variables:    
    ENVIRONMENT: test 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:release_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - /^release\/[0-9.]+$/

deploy:tags:
  extends: .deploy
  variables:    
    ENVIRONMENT: test
    IMAGE_TAG:  ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    CONFIG_DIR: config
  only:
    - tags

deploy:master:
  extends: .deploy
  variables:    
    ENVIRONMENT: test 
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}:master_${CI_PIPELINE_ID}
    CONFIG_DIR: config
  only:
    - master