stages:
  - build

include:  
  ## build ##
  - project: devops/ship 
    file: /templates/build/.job-build-dotnet-core-sdk5.yml
  ## exceptions ##
  - project: devops/ship
    file: /templates/exceptions/.retry-on-system-failures.yml    
