kind: Service
apiVersion: v1
metadata:
  annotations:
    cloud.google.com/load-balancer-type: Internal
  name: ${APP_NAME}-${APP_GROUP}-db
spec:
  type: LoadBalancer
  ports:
  - name: tcp
    port: 1433
    targetPort: 1433
    protocol: TCP
  selector:
    app: ${APP_NAME}-${APP_GROUP}-db
    role: backend