<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Trace"
      internalLogToConsole="true"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
  
  <variable name="systemGroupName" value="iPassport"/>
  <variable name="systemName" value="iPassport"/>

	<!-- the targets to write to --><!--
	<targets>
		--><!-- write logs to file  --><!--		
		<target xsi:type="File" name="iPassport" fileName="c:\temp\iPassport-Log-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>-->

  <targets>
    <target xsi:type="File" name="iPassport" fileName="c:\temp\iPassport-Log-${shortdate}.log">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}"/>
        <attribute name="host" layout="${machinename}"/>
        <attribute name="system-group-name" layout="${var:systemGroupName}"/>
        <attribute name="system" layout="${var:systemName}"/>
        <attribute name="timestamp" layout="${longdate:universalTime=true}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="Details" layout="${event-properties:item=Details}"/>
        <attribute name="exception" layout="${exception:format=@}"/>
        <attribute name="logger" layout="${logger}"/>
      </layout>
    </target>
  </targets>
	
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="iPassport" />	
	</rules>
</nlog>