name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Set NUGET_PACK
      run: export NUGET_PACKAGES=$(pwd)/packages/
    - name: Restore dependencies
      run: dotnet restore "/iPassport"
    - name: Build
      run: publish --no-restore ./ -o artifacts
